$xl: 1280px - 0.2px;
$lg: 992px - 0.2px;
$md: 768px - 0.2px;
$sm: 576px - 0.2px;
$xs: 320px - 0.2px;

:root {
   --font-family: "Montserrat";
   --font-weight: 600;
   --min-width: 320px;
}

:root {
   --color: #000;
   --base-color: #428A60;
   --secondary-color:#212121;
   --background-color:#f8f8f8;
   --border-color: #e4e4e4;
}
