
.main {

   padding: 75px 0;

   // .main__wrapper

   &__wrapper {
      display: flex;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 15px 65px #c7c6c6;

      @include media(max,$xl) {
         flex-direction: column;
         align-items: center;
      }
   }

   // .main__row

   &__row {
      @include wh(560px,500px);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px 40px 35px 40px;
      background: linear-gradient(180deg, #428a60 0%, #35734f 100%);
      border-radius: 1px;

      @include media(max,$xl) {
         flex-direction: row;
         margin: 0 0 76px;
         background: transparent;
      }

      @include media(max,$md) {
         width: 100%;
         height: 234px;
         padding: 40px 20px 0;
      }

      &::before {
         @include wh(1040px,832px);
         position: absolute;
         top: -35%;
         left: 42%;
         z-index: 0;
         background-color: transparent;
         border: 20px solid var(--base-color);
         border-radius: 50%;
         content: '';

         @include media(max,$xl) {
            display: none;
         }

         @include media(max,$md) {
            @include wh(202px);
            top: -40%;
            left: 1%;
         }
      }
   }

   // .main__title

   &__title {
      @include font(18px,1,700);
      margin: 0;
      color: #fff;

      @include media(max,$xl) {
         color: var(--secondary-color);
      }
   }

   // .main__wrap-img

   &__wrap-img {
      position: absolute;
      top: 68%;
      left: 10%;
      transform: translateY(-50%);

      @include media(max,$md) {
         top: 50%;
         left: 52%;
         transform: translate(-50%);
      }

      &::before {
         @include wh(398px);
         position: absolute;
         top: -56%;
         left: -7%;
         z-index: -1;
         background-color: var(--base-color);
         border-radius: 50%;
         content: '';

         @include media(max,$xl) {
            @include wh(415px);
            top: -50%;
            left: 1%;
         }

         @include media(max,$md) {
            @include wh(202px);
            top: -40%;
            left: 1%;
         }
      }

      &::after {
         position: absolute;
         top: -56%;
         left: -7%;
         z-index: -1;
         background: url('./../assets/images/main/Ellipse.png') no-repeat center center/cover;
         border-radius: 50%;
         content: '';
      }
   }

   // .main_img

   &_img {
      @include wh(465px,255px);

      @include media(max,$md) {
         @include wh(223px,122px);
      }
   }

   // .main__abbr

   &__abbr {
      @include font(18px,1,700);
      color: #fff;

      @include media(max,$xl) {
         color: var(--secondary-color);
      }
   }

   // .main__wrap-message

   &__wrap-message {
      z-index: 100;
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      padding: 48px 0 60px;

      @include media(max,$md) {
         padding: 0 20px 40px 24px;

         @include media(max,$sm) {
            padding: 0 17.6px 16px 24px;
         }
      }
   }

   // .main__inner

   &__inner {
      width: 50%;

      @include media(max,$xl) {
         width: 100%;
      }
   }

   // main__subtitle

   &__subtitle {
      @include font(30px,1.2,800,center);
      padding: 34px 0;
      color: var(--secondary-color);
      text-align: center;
      background-color: #f8f8f8;

      @include media(max,$xl) {
         margin-bottom: 29px;
         padding: 0;
         background-color: transparent;
      }

      @include media(max,$md) {
         background-color: transparent;
      }
   }

   // .main__subtitle--block

   &__subtitle--block {
      display: block;

      @include media(max,$md) {
         display: inline;
      }
   }

   // .main__label

   &__label {
      @include font(14px,1.2,800);
      display: block;
      margin-bottom: 10px;
      color: var(--secondary-color);
   }

   // .main__input

   &__input {
      width: 100%;
      max-width: 320px;
      height: 50px;
      margin: 0 0 20px 0;
      padding: 16px 20px 16px;
      color: var(--secondary-color);
      background: #f8f8f8;
      border: 1px solid #e4e4e4;
      border-radius: 5px;

      @include media(max,$sm) {
         padding: 16px 11px 16px;
      }

      &::placeholder {
         @include font(14px,1.2,false);
         color: #e4e4e4;
         transition: transform 500ms ease;
      }

      &:focus::placeholder,
      &:hover::placeholder {
         transform: scale(0);
      }
   }

   // .main__wrap-input

   &__wrap-input {
      display: flex;
      justify-content: space-between;
      margin: 0 0 38px;

      @include media(max,$sm) {
         margin: 0 0 30px;
      }

      .main__input {
         width: 184px;
         margin: 0;

         @include media(max,$md) {
            width: 174px;
         }
      }
   }

   &__lang {
      @include wh(116px,50px);
      border: 1px solid #000;

      @include media(max,$md) {
         width: 96px;
      }
   }

   // .main__label--green

   &__label--green {
      color: var(--base-color);
   }

   // .main__Secure

   &__Secure {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 160px;
      margin: 0 auto;
      background-color: #f8f8f8;

      @include media(max,$sm) {
         display: flex;
      }
   }

   // .main__Trusted

   // &__Trusted {

   // }

   // .main__Secure-img

   // &__Secure-img {

   // }

   // .main__secure-text

   // &__secure-text {

   // }
}
