
.main {
   padding: 75px 0;

   // .main__wrapper

   &__wrapper {
      display: flex;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 15px 65px #c7c6c6;

      @include media(max,$lg) {
         flex-direction: column;
         align-items: center;
      }
   }

   // .main__row

   &__row {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      min-height: 500px;
      padding: 40px 40px 37px 40px;
      background: linear-gradient(180deg, #428a60 0%, #35734f 100%);
      border-radius: 1px;

      @include media(max,$lg) {
         flex-direction: row;
         min-height: 400px;
         margin: 0 0 70px;
         padding: 40px 20px 0;
         background: transparent;

         @include media(max,$md) {
            width: 100%;
            max-width: 320px;
            min-height: 234px;
            margin: 0 0 76px;
         }
      }

      &::before {
         @include wh(1040px,832px);
         position: absolute;
         top: -35%;
         left: 42%;
         z-index: 0;
         background-color: transparent;
         border: 20px solid var(--base-color);
         border-radius: 50%;
         content: '';

         @include media(max,$lg) {
            display: none;
         }

         @include media(max,$md) {
            @include wh(202px);
            top: -40%;
            left: 1%;
         }
      }
   }

   // .main__title

   &__title {
      @include font(18px,1,700);
      margin: 0;
      color: #fff;

      @include media(max,$lg) {
         color: var(--secondary-color);
      }
   }

   // .main__wrap-img

   &__wrap-img {
      position: absolute;
      top: 68%;
      left: 10%;
      transform: translateY(-50%);

      @include media(max,$lg) {
         top: 70%;
      }

      @include media(max,$md) {
         top: 50%;
         left: 52%;
         transform: translate(-50%);
      }

      &::before {
         @include wh(398px);
         position: absolute;
         top: -56%;
         left: -7%;
         z-index: -1;
         background-color: var(--base-color);
         border-radius: 50%;
         content: '';

         @include media(max,1120px) {
            top: -60%;

            @include media(max,$lg) {
               @include wh(350px);
               top: -50%;
               left: -9%;

               @include media(max,$md) {
                  @include wh(202px);
                  top: -40%;
                  left: 1%;
               }
            }
         }
      }

      &::after {
         position: absolute;
         top: -56%;
         left: -7%;
         z-index: -1;
         background: url('./../assets/images/main/Ellipse.png') no-repeat center center/cover;
         border-radius: 50%;
         content: '';
      }
   }

   // .main_img

   &_img {
      @include wh(465px,255px);

      @include media(max,1120px) {
         @include wh(400px,255px);

         @include media(max,$lg) {
            @include wh(355px,200px);

            @include media(max,$md) {
               @include wh(223px,122px);
            }
         }
      }
   }

   // .main__abbr

   &__abbr {
      @include font(18px,1,700);
      color: #fff;

      @include media(max,$lg) {
         color: var(--secondary-color);
      }
   }

   // .main__wrap-message

   &__wrap-message {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      padding: 55px 0 60px;

      @include media(max,$lg) {
         max-width: 768px;
         padding: 0 50px 60px;

         @include media(max,$md) {
            max-width: 576px;
            padding: 0 20px 40px 24px;

            @include media(max,$sm) {
               max-width: 320px;
               padding: 0 17.6px 16px 26px;
            }
         }
      }
   }

   // .main__inner

   &__inner {
      z-index: 100;
      width: 50%;

      @include media(max,$lg) {
         width: 100%;
      }
   }

   // main__subtitle

   &__subtitle {
      @include font(30px,1.2,800,center);
      padding: 30px 0;
      color: var(--secondary-color);
      text-align: center;
      background-color: var(--background-color);

      @include media(max,$lg) {
         margin: 0 0 29px 0;
         padding: 0;
         line-height: 1.27;
         background-color: transparent;
      }

      @include media(max,$md) {
         max-width: 280px;
         margin: 0 auto 29px auto;
      }
   }

   // .main__subtitle--block

   &__subtitle--block {
      display: block;

      @include media(max,$md) {
         display: inline;
      }
   }

   // .main__label

   &__label {
      @include font(14px,1.2,800);
      display: block;
      margin-bottom: 10px;
      color: var(--secondary-color);
   }

   // .main__input

   &__input {
      width: 100%;
      height: 50px;
      margin: 0 0 20px 0;
      padding: 16px 20px 16px;
      color: var(--secondary-color);
      background: var(--background-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;

      @include media(max,$sm) {
         padding: 16px 11px 16px;
      }

      &::placeholder {
         @include font(14px,1.2,false);
         color: var(--border-color);
         transition: transform 500ms ease;
      }

      &:focus::placeholder {
         transform: scale(0);
      }
   }

   // .main__wrap-input

   &__wrap-input {
      display: flex;
      justify-content: space-between;
      margin: 0 0 38px;

      @include media(max,$sm) {
         margin: 0 0 28px;
      }

      .main__input {
         width: 184px;
         margin: 0;

         @include media(max,$lg) {
            width: 80%;

            @include media(max,$sm) {
               width: 174px;
            }
         }
      }
   }

   // .main__wrap-lang

   &__wrap-lang {
      position: relative;
   }

   &__lang {
      @include wh(116px,50px);
      position: relative;
      display: flex;
      align-items: center;
      padding: 16px 20px;
      border: 1px solid var(--border-color);
      border-radius: 5px;

      @include media(max,$md) {
         width: 96px;
         padding: 16px 10px;
      }

      &:focus,
      &:hover {
         background-color: rgba(153, 153, 153, 0.5);
      }

      &::before {
         @include wh(8px,4px);
         position: absolute;
         top: 50%;
         right: 20px;
         background: url('./../assets/images/main/mark.svg') no-repeat center center/cover;
         transform: translateY(-50%);
         content: '';

         @include media(max,$md) {
            right: 5px;
         }
      }
   }

   // .main__lang-ru

   &__lang-ru {
      @include font(14px,1,600);
      margin: 0 10px 0 0;
      color: var(--secondary-color);
   }

   // .main__lang-img

   // &__lang-img {

   // }

   // .main__accordion

   &__accordion {
      position: absolute;
      top: 50px;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16px 20px;
      background-color: transparent;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      visibility: hidden;
      cursor: pointer;
      opacity: 0;
      transition: background-color 500ms ease, opacity 500ms ease, visibility 500ms ease;

      &:focus,
      &:hover {
         background-color: rgba(153, 153, 153, 0.5);
      }
   }

   &__accordion.active {
      visibility: visible;
      opacity: 1;
   }

   // .main__btn

   &__btn {
      @include media(max,$md) {
         margin-bottom: 38px;
      }
   }

   // .main__btn--arrow

   &__btn--arrow {
      position: relative;
      top: 0;
      left: 0;

      &::before {
         @include wh(15px,10px);
         position: absolute;
         top: 50%;
         right: -26px;
         background: url('./../assets/images/main/arrow.svg') no-repeat center center/cover;
         transform: translateY(-50%);
         content: '';
      }
   }

   // .main__label--green

   &__label--green {
      color: var(--base-color);
   }

   // .main__Secure

   &__Secure {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 160px;
      margin: 0 auto;
      background-color: var(--background-color);

      @include media(max,$md) {
         display: flex;
      }
   }

   // .main__Trusted

   // &__Trusted {

   // }

   // .main__Secure-img

   // &__Secure-img {

   // }

   // .main__secure-text

   // &__secure-text {

   // }
}
