<section class="main">
   <div class="container">
      <div class="main__wrapper">

         <div class="main__row">
            <h1 class="main__title text">Reduslim</h1>

            <picture class="main__wrap-img">
               <source type="image/webp" srcset="./assets/images/main/reduslim.webp" />
               <img class="main_img" alt="" src="./assets/images/main/reduslim.png" />
            </picture>

            <abbr class="main__abbr text">ECO</abbr>

         </div>

         <div class="main__wrap-message">
            <h2 class="main__subtitle"><span class="main__subtitle--block">Сделай шаг</span> к выздоровлению</h2>

            <label class="main__label" for="inputName">Ваше <span class="main__label--green">имя</span></label>
            <input class="main__input" type="text" id="inputName" placeholder="Алексей">


            <label class="main__label" for="inputTel">Ваш <span class="main__label--green">телефон</span></label>

            <div class="main__wrap-input">
               <input class="main__input tel" class="main__label" type="tel" id="inputTel" placeholder="+7 (123) 456 78-90">
               <div class="main__lang"></div>
            </div>


            <button class="btn">Заказать</button>

            <div class="main__Secure">
               <span class="main__Trusted text">Trusted</span>
                  <img class="main__Secure-img" alt="lock" src="./../../assets/images/main/lock.svg" />
               <span class="main__secure-text text">Secure</span>
            </div>
         </div>


      </div>
   </div>
</section>
